## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Bambous Virieux,-20.3428,57.7575,66.45,94,75,14.97,MU,2021-07-27 17:49:41,Rain
1,1,Ushuaia,-54.8000,-68.3000,37.06,93,90,4.61,AR,2021-07-27 17:44:00,Clouds
2,2,Nioro,13.3500,-15.7500,87.51,58,66,9.95,GM,2021-07-27 17:49:42,Clouds
3,3,Aksu,41.1231,80.2644,88.93,28,61,11.83,CN,2021-07-27 17:49:42,Clouds
4,4,Cabo San Lucas,22.8909,-109.9124,97.52,66,7,5.01,MX,2021-07-27 17:49:42,Clear

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
2,2,Nioro,13.3500,-15.7500,87.51,58,66,9.95,GM,2021-07-27 17:49:42,Clouds
3,3,Aksu,41.1231,80.2644,88.93,28,61,11.83,CN,2021-07-27 17:49:42,Clouds
5,5,Ambon,-3.6954,128.1814,77.14,100,40,3.44,ID,2021-07-27 17:49:42,Clouds
11,11,Puerto Ayora,-0.7393,-90.3518,78.76,68,55,10.25,EC,2021-07-27 17:49:44,Clouds
12,12,Hithadhoo,-0.6000,73.0833,81.07,78,98,7.49,MV,2021-07-27 17:49:44,Rain
13,13,Atuona,-9.8000,-139.0333,78.15,66,32,21.05,PF,2021-07-27 17:49:44,Clouds
14,14,Georgetown,5.4112,100.3354,83.89,86,20,0.00,MY,2021-07-27 17:49:45,Clouds
16,16,Bubaque,11.2833,-15.8333,81.18,79,55,9.08,GW,2021-07-27 17:49:45,Clouds
17,17,Tortoli,39.9256,9.6572,84.97,78,0,13.80,IT,2021-07-27 17:49:45,Clear
20,20,Gat,31.6100,34.7642,83.80,66,0,6.76,IL,2021-07-27 17:47:27,Clear

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                249
City                   249
Lat                    249
Lng                    249
Max Temp               249
Humidity               249
Cloudiness             249
Wind Speed             249
Country                249
Date                   249
Current Description    249
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
2,2,Nioro,13.3500,-15.7500,87.51,58,66,9.95,GM,2021-07-27 17:49:42,Clouds
3,3,Aksu,41.1231,80.2644,88.93,28,61,11.83,CN,2021-07-27 17:49:42,Clouds
5,5,Ambon,-3.6954,128.1814,77.14,100,40,3.44,ID,2021-07-27 17:49:42,Clouds
11,11,Puerto Ayora,-0.7393,-90.3518,78.76,68,55,10.25,EC,2021-07-27 17:49:44,Clouds
12,12,Hithadhoo,-0.6000,73.0833,81.07,78,98,7.49,MV,2021-07-27 17:49:44,Rain
...,...,...,...,...,...,...,...,...,...,...,...
688,688,Piacabucu,-10.4056,-36.4344,77.11,81,28,9.13,BR,2021-07-27 17:52:38,Clouds
690,690,Puerto Madero,14.7208,-92.4215,84.09,69,51,4.12,MX,2021-07-27 17:52:38,Clouds
691,691,Itanhem,-17.1664,-40.3300,83.52,38,44,4.21,BR,2021-07-27 17:52:39,Clouds
692,692,Nago,26.5881,127.9761,82.47,94,89,11.05,JP,2021-07-27 17:52:39,Clouds
693,693,Veraval,20.9000,70.3667,81.97,84,100,21.59,IN,2021-07-27 17:52:39,Rain

In [32]:
preferred_cities_df.isna().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
Current Description    0
dtype: int64

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Nioro,GM,87.51,Clouds,13.3500,-15.7500,
3,Aksu,CN,88.93,Clouds,41.1231,80.2644,
5,Ambon,ID,77.14,Clouds,-3.6954,128.1814,
11,Puerto Ayora,EC,78.76,Clouds,-0.7393,-90.3518,
12,Hithadhoo,MV,81.07,Rain,-0.6000,73.0833,
13,Atuona,PF,78.15,Clouds,-9.8000,-139.0333,
14,Georgetown,MY,83.89,Clouds,5.4112,100.3354,
16,Bubaque,GW,81.18,Clouds,11.2833,-15.8333,
17,Tortoli,IT,84.97,Clear,39.9256,9.6572,
20,Gat,IL,83.80,Clear,31.6100,34.7642,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }

In [17]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Nioro,GM,87.51,Clouds,13.3500,-15.7500,
3,Aksu,CN,88.93,Clouds,41.1231,80.2644,Pudong Holiday Hotel
5,Ambon,ID,77.14,Clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
11,Puerto Ayora,EC,78.76,Clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Hithadhoo,MV,81.07,Rain,-0.6000,73.0833,Scoop Guest House
13,Atuona,PF,78.15,Clouds,-9.8000,-139.0333,Villa Enata
14,Georgetown,MY,83.89,Clouds,5.4112,100.3354,Cititel Penang
16,Bubaque,GW,81.18,Clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
17,Tortoli,IT,84.97,Clear,39.9256,9.6572,Hotel La Bitta
20,Gat,IL,83.80,Clear,31.6100,34.7642,OlusHome

In [34]:
hotel_df["Hotel Name"].count()

249

In [35]:
hotel_df.isna().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [48]:
hotel_df[hotel_df['Hotel Name'] == ""].index

Int64Index([  2,  50,  78, 130, 213, 240, 241, 242, 273, 416, 424, 428, 450,
            544, 550, 567, 595, 602, 646],
           dtype='int64')

In [54]:
import numpy as np

nan_hotel_df = hotel_df.replace("", np.NaN) 
nan_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Nioro,GM,87.51,Clouds,13.3500,-15.7500,NaN
3,Aksu,CN,88.93,Clouds,41.1231,80.2644,Pudong Holiday Hotel
5,Ambon,ID,77.14,Clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
11,Puerto Ayora,EC,78.76,Clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Hithadhoo,MV,81.07,Rain,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
688,Piacabucu,BR,77.11,Clouds,-10.4056,-36.4344,Piaçabuçu News
690,Puerto Madero,MX,84.09,Clouds,14.7208,-92.4215,Hotel La Central
691,Itanhem,BR,83.52,Clouds,-17.1664,-40.3300,Hotel Resende
692,Nago,JP,82.47,Clouds,26.5881,127.9761,Hotel Yugaf Inn Okinawa
693,Veraval,IN,81.97,Rain,20.9000,70.3667,Lords Inn Somnath

In [58]:
nan_hotel_df.isnull().sum()

City                    0
Country                 0
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             19
dtype: int64

In [64]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = nan_hotel_df.dropna(["Hotel Name"]== "NaN")

clean_hotel_df

<ipython-input-64-c74698d171c0>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  clean_hotel_df = nan_hotel_df.dropna(["Hotel Name"]== "NaN")

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Aksu,CN,88.93,Clouds,41.1231,80.2644,Pudong Holiday Hotel
5,Ambon,ID,77.14,Clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
11,Puerto Ayora,EC,78.76,Clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Hithadhoo,MV,81.07,Rain,-0.6000,73.0833,Scoop Guest House
13,Atuona,PF,78.15,Clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
688,Piacabucu,BR,77.11,Clouds,-10.4056,-36.4344,Piaçabuçu News
690,Puerto Madero,MX,84.09,Clouds,14.7208,-92.4215,Hotel La Central
691,Itanhem,BR,83.52,Clouds,-17.1664,-40.3300,Hotel Resende
692,Nago,JP,82.47,Clouds,26.5881,127.9761,Hotel Yugaf Inn Okinawa
693,Veraval,IN,81.97,Rain,20.9000,70.3667,Lords Inn Somnath

In [65]:
clean_hotel_df.count()

City                   230
Country                230
Max Temp               230
Current Description    230
Lat                    230
Lng                    230
Hotel Name             230
dtype: int64

In [66]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/Vacation_Search.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [71]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))