In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../World_Weather_Analysis/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kimbe,PG,2021-07-26 12:43:07,-5.5502,150.1429,75.56,92,72,4.52
1,1,Keningau,MY,2021-07-26 12:42:10,5.3378,116.1602,82.85,92,100,1.50
2,2,Avarua,CK,2021-07-26 12:43:07,-21.2078,-159.7750,77.05,88,75,13.80
3,3,Busselton,AU,2021-07-26 12:43:07,-33.6500,115.3333,55.09,83,84,31.14
4,4,Yorosso,ML,2021-07-26 12:43:08,12.3536,-4.7761,93.04,41,74,7.43
5,5,Hasaki,JP,2021-07-26 12:43:08,35.7333,140.8333,75.60,88,100,31.50
6,6,Nantucket,US,2021-07-26 12:38:28,41.2835,-70.0995,75.96,95,90,11.50
7,7,Ushuaia,AR,2021-07-26 12:41:15,-54.8000,-68.3000,31.66,100,90,3.44
8,8,Airai,TL,2021-07-26 12:43:08,-8.9266,125.4092,57.74,88,50,2.55
9,9,Cherskiy,RU,2021-07-26 12:43:09,68.7500,161.3000,39.36,76,0,10.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kimbe,PG,2021-07-26 12:43:07,-5.5502,150.1429,75.56,92,72,4.52
1,1,Keningau,MY,2021-07-26 12:42:10,5.3378,116.1602,82.85,92,100,1.50
2,2,Avarua,CK,2021-07-26 12:43:07,-21.2078,-159.7750,77.05,88,75,13.80
5,5,Hasaki,JP,2021-07-26 12:43:08,35.7333,140.8333,75.60,88,100,31.50
6,6,Nantucket,US,2021-07-26 12:38:28,41.2835,-70.0995,75.96,95,90,11.50
10,10,Cape Town,ZA,2021-07-26 12:43:09,-33.9258,18.4232,77.41,8,0,14.97
16,16,Nikolskoye,RU,2021-07-26 12:43:10,59.7035,30.7861,82.29,34,38,6.82
18,18,Oume,JP,2021-07-26 12:43:11,35.7839,139.2431,82.24,69,1,6.91
20,20,Fort-Shevchenko,KZ,2021-07-26 12:43:12,44.5086,50.2630,84.33,44,45,27.54
22,22,Srinagar,IN,2021-07-26 12:43:12,34.0833,74.8167,86.61,54,81,6.20

In [19]:
preferred_cities_df.count()

City_ID       266
City          266
Country       266
Date          266
Lat           266
Lng           266
Max Temp      266
Humidity      266
Cloudiness    266
Wind Speed    266
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Kimbe      PG     75.56  -5.5502  150.1429
1          Keningau      MY     82.85   5.3378  116.1602
2            Avarua      CK     77.05 -21.2078 -159.7750
5            Hasaki      JP     75.60  35.7333  140.8333
6         Nantucket      US     75.96  41.2835  -70.0995
10        Cape Town      ZA     77.41 -33.9258   18.4232
16       Nikolskoye      RU     82.29  59.7035   30.7861
18             Oume      JP     82.24  35.7839  139.2431
20  Fort-Shevchenko      KZ     84.33  44.5086   50.2630
22         Srinagar      IN     86.61  34.0833   74.8167

In [22]:
#Nearby search API

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kimbe,PG,75.56,-5.5502,150.1429,Kimbe Bay Hotel
1,Keningau,MY,82.85,5.3378,116.1602,Sabindo Hotel
2,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
5,Hasaki,JP,75.60,35.7333,140.8333,Hotel Sunrise Choshi
6,Nantucket,US,75.96,41.2835,-70.0995,Jared Coffin House
10,Cape Town,ZA,77.41,-33.9258,18.4232,Southern Sun Waterfront Cape Town
16,Nikolskoye,RU,82.29,59.7035,30.7861,Tourist House - Sablino
18,Oume,JP,82.24,35.7839,139.2431,Kampo Inn Ome
20,Fort-Shevchenko,KZ,84.33,44.5086,50.2630,Oasis hotel Bautino
22,Srinagar,IN,86.61,34.0833,74.8167,Hotel New Green View

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))